@import "~bootstrap/scss/bootstrap";
@import "src/styles/colorPalette.scss";
@import "node_modules/react-vis/dist/style";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

table {
  text-align: center;

  .clickable {
    cursor: pointer;
  }
}

.body-wrapper {
  height: 100vh;

  * {
    transition: 0.2s all;
    font-family: "Roboto", sans-serif;
  }

  .body-content {
    min-height: 100vh;

    .display-container {
      min-height: 100vh;
      overflow: hidden scroll;

      & > .row:not(:last-child) {
        margin-bottom: 25px;
      }
    }

    .display-container {
      padding: 0 2rem !important;
    }

    .display-col {
      background-color: $background-color;
    }
    // width: fit-content!important;
    // margin: 0 10%;

    .side-menu-col,
    .display-col {
      padding: 20px;
    }
  }
}
