.card-campus-grid {
  display: flex;
  width: 320px;

  .PopUpCampus {
    button {
      display: flex;
      font-size: large;
    }
  }
}

.card-courses-grid {
  display: block;
  width: 500px;

  left: -350px;
}
