.card-academic-year {
  width: 400px;
  height: 400px;
}

.standard-calendar {
  width: 400px;
  height: 400px;

  .date-picker {
    .rdrDateDisplayWrapper {
      display: none;
    }
  }
}

.subtitles {
  padding: 65px;

  .sub {
    &::before {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: inline-flex;
      margin-right: 8px;
    }
    &.circle1::before {
      background-color: #5c91f2;
    }
    &.circle2::before {
      background-color: #e8c551;
    }
    &.circle3::before {
      background-color: #f2924e;
    }
  }

  span {
    display: inline-flex;
    margin-bottom: 8px;
  }
}
