@import "src/styles/colorPalette.scss";

.side-menu-item {
  position: relative;
  font-size: 20px;
  margin: 12px 0;

  &:hover {
    * {
      color: $primary-color;
    }
  }

  * {
    color: $text-color;

    &:hover {
      text-decoration: none;
    }
  }

  &.selected {
    // border-right: 3px solid $primary-color;

    * {
      color: $primary-color;
    }
  }

  &.logo {
    text-align: center;
    font-size: 30px;

    * {
      color: $not-selected-color;
    }
  }

  .side-menu-icon {
    margin: auto 10px auto 0;
    width: 1.125em;
  }

  .side-menu-link {
    display: flex !important;
    width: auto;
    display: block;
  }

  .side-menu-selectedbar {
    display: block;
    width: 3px;
    position: absolute;
    height: 100%;
    background-color: #618dff;
    top: -50%;
    transform: translate(0px, 50%);
    right: -7.5%;
  }
}
