@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");

.body-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;

  * {
    transition: 0.2s all;
    font-family: "Roboto", sans-serif;
  }
}
