$light-blue-1: #81bbff;
$light-blue-2: #618dff;
$dark-blue-1: #5174a8;
$dark-blue-2: #466492;
$orange: #ffb978;

// $background-color: #e5e5e5;
$background-color: #f6f6f6;

$text-color: #848484;
$subtitle-color: #595959;
$not-selected-color: #505050;

$primary-color: $light-blue-2;
