$light-blue-1: #81BBFF;
$light-blue-2: #618DFF;
$dark-blue-1: #5174A8;
$dark-blue-2: #466492;
$orange: #FFB978;

$background-color: #E5E5E5;

$text-color: #848484;
$subtitle-color: #595959;

$primary-color: $light-blue-2;